.card {
    width: 300px;
    text-align: center;
    background-color: #fff;
    box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
    animation: rotation 3s ease-in 0s;
}
 

@keyframes rotation {
    from {
        opacity: 0%;
        transform: rotateY(0.5turn);
    }

    to {
        opacity: 100%;
        transform: rotateY(6turn);
    }
}

.imgwrap {
    background-color: #eceff1;
    margin-top: 0.8rem;
    padding: 10px;
}

.card-body {
    padding: 10px
}

.card-title {
    color: #000;
    font-size: x-large;
}

.card-img-top {
    width: 200px;
    transform: translate(5%);
    transition: all ease 0.5s
}

.card-img-top:hover {
    transform: scale(1.5)
}